<style>
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
</style>

<style>
@import url('https://fonts.googleapis.com/css?family=Arimo|Lora|Nunito:300|PT+Serif|Playfair+Display');
</style>

* { margin:0; padding:0; box-sizing:border-box; }
body {
	color:#333;
	font-family: Roboto, sans-serif;
	font-size:16px;
}

nav {
  list-style: none;
  text-align: right;
}

nav a {
	color:inherit;
	display: inline-block;
	font-size: 16px;
	padding:1em 2em;
	text-decoration:none;
}
footer nav {
 	text-align:left;
 }
section { 
	padding:5em 0;
}
#threefacts li {
	list-style-type: none;
}

#splash {
	background: url(../images/bmo_4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 90vh;
	padding-top: 20px;
	text-align: right;
}

p {
	font-family: "Roboto";
	font-weight: lighter;
}

li{
	font-family: "Roboto";
	font-weight: lighter;
}

h1, h3 {
	margin: 2em;
	color: #FFFFFF;
 }