* { margin:0; padding:0; box-sizing:border-box; }
body {
	color:#333;
	font-family: helvetica, sans-serif;
	font-size:16px;
}

nav {
  list-style: none;
  text-align: right;
}

nav a {
	color:inherit;
	display: inline-block;
	font-size: 16px;
	padding:1em 2em;
	text-decoration:none;
	background: purple;
}
footer nav {
 	text-align:left;
 }
section { 
	padding:5em 0;
}
#threefacts li {
	list-style-type: none;
}

#splash {
	background: url(../images/bmo_4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 90vh;
	padding: 10em 0 0;
	text-align: right;
}
